body {
  background-color: #36373b;
  /* background-image: url(./assets/pexels-enginakyurt-2767814.jpg); */
  /* background-size: contain; */
}
.header{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2%;
}
.header h1 {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;  
  flex-direction: column;
}
input {
  border-radius: 5px;
  height: 4vh;
  width: 30vw;
}
.bookCard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-left: 10%;
  margin-right: 10%;
  cursor: pointer;
  width: 80vw;
}
.books{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 5%;
  margin-right: 5%;
  padding-top: 10%;
  transition: 0.2s ease-in-out;
  color: white;
}
.books:hover {
  transform: scale(1.04);
  background-color: rgb(0, 0, 0, 0.2);
}
.activeBook{
  background-color: rgb(0, 0, 0, 0.2);
}
p{
  font-size: 17px;
  font-family: Arial, Helvetica, sans-serif;
}
img {
  box-shadow: 5px 5px 8px black; 
  width: 35%;
}
.autoContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5%;
  flex-direction: row;
  gap: 30px;
}
.inputContainer{
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.filterContainer{
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
label{
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}
.selectedBook{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 30px;
  margin-bottom: 3%;
}
.selectedBookImg{
  width: 15%;
  box-shadow: 5px 5px 8px; 
}
.selectedBookInfo{
  display: flex;
  flex-direction: column;
  max-width: 50vw;
  min-width: 20vw;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
.selectedBookDetails{
  display: flex;
  justify-content: space-between;
  align-items: center;
}